{{ block title }}
 Phase 1 of Round {{ player.round_number }}: Make a coalition proposal
{{ endblock }}

{{ block styles }}
    <style>
        ul#allocate_to_players div.form-group {
            margin-left: 50px;
        }

        ul#allocate_to_players div.form-group,
        ul#allocate_to_players div.controls,
        ul#allocate_to_players div.input-group {
            display: inline-block;

        }
    </style>

{{ endblock }}


{{ block content }}


    <div id="bargain">

        <p>
            You are negotiating on behalf of <strong class="text-info"> Company {{ player.position }}</strong>.
            That means you transport <strong class="text-info">{{ player.resources }} tons </strong> of cargo to Paris.
        </p>

        <p>Representing your competitors
            {{ for p in player.get_others_in_group }}
                <strong class="text-success"><br>- Company {{ p.position }}</strong>
                (transports <strong class="text-success">{{ p.resources }} tons</strong>)
            {{ endfor }}
        </p>
        <p>
            A minimum of {{ decision_point }} tons is needed to the big truck and thus obtain a bonus of {{ total_payoff }} euros.
        </p>

         <p>
            Now indicate (a) with whom you want to form a coalition and also (b) how you want to distribute the {{ total_payoff }} euros among the members of the coalition.
        </p>

        <p>
            I want to form the following coalition:
        </p>


        {{ if player.position == 'A' }}
            <ul>
                {{ for coalition in possible_coalitions_A }}
                    <li>
                        <input data-desc="{{ coalition }}" type="radio" name="proposed_coalition"
                               value="{{ coalition }}"
                               required> {{ coalition }}-coalition
                        {{ if coalition == 'AB' }}
                        (with Company B transporting {{ resources_player_B }} tons of cargo)
                        {{ elif coalition == 'AC' }}
                        (with Company C transporting {{ resources_player_C }} tons of cargo)
                        {{ elif coalition == 'ABC' }}
                        (with Company B transporting {{ resources_player_B }} tons of cargo and with Company C transporting {{ resources_player_C }} tons of cargo)
                        {{ endif }}
                    </li>
                {{ endfor }}
            </ul>

        {{ elif player.position == 'B' }}
            <ul>
                {{ for coalition in possible_coalitions_B }}
                    <li>
                        <input data-desc="{{ coalition }}" type="radio" name="proposed_coalition"
                               value="{{ coalition }}"
                               required> {{ coalition }}-coalition
                        {{ if coalition == 'AB' }}
                        (with Company A transporting {{ resources_player_A }} tons of cargo)
                        {{ elif coalition == 'BC' }}
                        (with Company C transporting {{ resources_player_C }} tons of cargo)
                        {{ elif coalition == 'ABC' }}
                        (with Company A transporting {{ resources_player_A }} tons of cargo and with Company C transporting {{ resources_player_C }} tons of cargo)
                        {{ endif }}
                    </li>
                {{ endfor }}
            </ul>

        {{ elif player.position == 'C' }}
            <ul>
                {{ for coalition in possible_coalitions_C }}
                    <li>
                        <input data-desc="{{ coalition }}" type="radio" name="proposed_coalition"
                               value="{{ coalition }}"
                               required> {{ coalition }}-coalition
                        {{ if coalition == 'AC' }}
                        (with Company A transporting {{ resources_player_A }} tons of cargo)
                        {{ elif coalition == 'BC' }}
                        (with Company B transporting {{ resources_player_B }} tons of cargo)
                        {{ elif coalition == 'ABC' }}
                        (with Company A transporting {{ resources_player_A }} tons of cargo and with Company B transporting {{ resources_player_B }} tons of cargo)
                        {{ endif }}
                    </li>
                {{ endfor }}
            </ul>
        {{ endif }}

      <p id="total-alert" class="alert alert-warning text-normal" style="display:none">
          The premium does not add up to {{ total_payoff }} euros. Fill in the numbers again.
        </p>

        <p id="emptyfield-alert" class="alert alert-warning text-normal" style="display:none">
            You have not entered a valid number in any of the boxes. Please enter a valid number between 0 and {{ total_payoff }}.
        </p>


        <ul id="allocate_to_players">

        <p id="allocate_to_players_text">
             Indicate how you want to divide the premium of {{ total_payoff }} euros: how much money will your own company get and how much will another company get?
            (Note: this must add up to {{ total_payoff }}).
        </p>

            <li class="{{ if player.position == 'A' }}you{{ endif }}" id="allocate_to_player_A">
                Company <strong class="text-success">A</strong>
                (transports {{ resources_player_A }} tons)
                {{ if player.position == 'A' }}
                <small class="text-info">(This is you)</small>{{ endif }}
                {{ formfield player.allocate_to_player_A label='€' }}

            </li>
            <li class="{{ if player.position == 'B' }}you{{ endif }}" id="allocate_to_player_B">
                Company <strong class="text-success">B</strong>
                (transports {{ resources_player_B }} tons)
                {{ if player.position == 'B' }}
                <small class="text-info">(This is you)</small>{{ endif }}
                {{ formfield player.allocate_to_player_B label='€' }}

            </li>
            <li class="{{ if player.position == 'C' }}you{{ endif }}" id="allocate_to_player_C">
                Company <strong class="text-success">C</strong>
                (transports {{ resources_player_C }} tons)
                {{ if player.position == 'C' }}
                <small class="text-info">(This is you)</small>{{ endif }}
                {{ formfield player.allocate_to_player_C label='€' }}
            </li>
        </ul>


        <div class="row">
            <div class="col-md-1 col-md-offset-11">
                <button id="show-confirm" class="btn btn-primary btn-large btn-primary">
                    Next
                </button>
            </div>
        </div>

    </div> <!-- bargain -->


    <div id="confirm" style="display: none;">


        <p>
            You made the following offer:
        </p>

        <p>
            <span id="offer-desc"></span>
        </p>

        <div class="well">
            <p>Are you sure you want to make this offer?</p>
        </div>
        <ul id="confirmation">
            <li><input type="radio" name="confirmation" value="yes" required="" disabled> Yes</li>
            <li><input type="radio" name="confirmation" value="no" required="" disabled> No</li>
        </ul>



        <div class="row">
            <div class="col-md-1 col-md-offset-11">
                <button id="real-submit" class="btn btn-primary btn-large btn-primary">
                    Next
                </button>
            </div>
        </div>


    </div>

{{ endblock }}

{{ block scripts }}
    <script>
        $(document).ready(function () {

            var form = $("form#form")[0]
            var $bargain = $("div#bargain");
            var $confirm = $("div#confirm");
            var $totalAlert = $("p#total-alert");
            var $coalitionAlert = $("p#coalition-alert");
            var $emptyfieldAlert = $("p#emptyfield-alert");
            var $confirmation = $("#confirmation input");
            var allocate_A = $("#allocate_to_player_A");
            var allocate_B = $("#allocate_to_player_B");
            var allocate_C = $("#allocate_to_player_C");
            var text = $("#allocate_to_players_text");
            var position = {{ player.position|json }};

            allocate_A.hide();
            allocate_B.hide();
            allocate_C.hide();
            text.hide();


            function totalOffered() {
                var total = 0;

                var coalition = $('input[name="proposed_coalition"]:checked').val();

                if (coalition == "AB") {
                    total = total + parseInt($("#id_allocate_to_player_A").val(), 10) + parseInt($("#id_allocate_to_player_B").val(), 10);
                } else if (coalition == "AC") {
                    total = total + parseInt($("#id_allocate_to_player_A").val(), 10) + parseInt($("#id_allocate_to_player_C").val(), 10);
                } else if (coalition == "BC") {
                    total = total + parseInt($("#id_allocate_to_player_B").val(), 10) + parseInt($("#id_allocate_to_player_C").val(), 10);
                } else if (coalition == "ABC") {
                    total = total + parseInt($("#id_allocate_to_player_A").val(), 10) + parseInt($("#id_allocate_to_player_B").val(), 10) + parseInt($("#id_allocate_to_player_C").val(), 10);
                }

                return total;
            }

            function fillConfirm() {
                var desc = "";
                var coalition = $('input[name="proposed_coalition"]:checked').val();

                if (position == 'A') {
                    if (coalition == 'AB'){
                        desc = "An AB coalition between your company and Company B, where you get" + $("#allocate_to_players li.you input").val() + " euros, and Company B gets" + $("#allocate_to_player_B input").val() + " euros"}
                    else if (coalition == 'AC'){
                        desc = "An AC coalition between your company and Company C, where you get" + $("#allocate_to_players li.you input").val() + " euros, and Company C gets" + $("#allocate_to_player_C input").val() + " euros"}
                    else if (coalition == 'ABC'){
                        desc = "An ABC coalition between your company, Company B and Company C, where you get" + $("#allocate_to_players li.you input").val() + " euros, and Company B gets" + $("#allocate_to_player_B input").val() + " euros" +', and Company C gets' + $("#allocate_to_player_C input").val() + " euros"}
                    }

                else if (position == 'B'){
                    if (coalition == 'AB'){
                        desc = "An AB coalition between your company and Company A, where you get" + $("#allocate_to_players li.you input").val() + " euros, and Company A gets" + $("#allocate_to_player_A input").val() + " euros"}
                    else if (coalition == 'BC'){
                        desc = "An BC coalition between your company and Company C, where you get" + $("#allocate_to_players li.you input").val() + " euros, and Company C gets" + $("#allocate_to_player_C input").val() + " euros"}
                    else if (coalition == 'ABC'){
                        desc = "Een ABC coalition between your company, Company A and Company C, where you get" + $("#allocate_to_players li.you input").val() + " euros, Company A gets" + $("#allocate_to_player_A input").val() + " euros" +', and Company C gets' + $("#allocate_to_player_C input").val() + " euros"}
                    }

                else if (position == 'C'){
                    if (coalition == 'AC'){
                        desc = "An AC coalition between your company and Company A, where you get" + $("#allocate_to_players li.you input").val() + " euros, and Company A gets" + $("#allocate_to_player_A input").val() + " euros"}
                    else if (coalition == 'BC'){
                        desc = "An BC coalition between your company and Company B, where you get" + $("#allocate_to_players li.you input").val() + " euros, and Company B gets" + $("#allocate_to_player_B input").val() + " euros"}
                    else if (coalition == 'ABC'){
                        desc = "Een ABC coalition between your company, Company A and Company B, where you get" + $("#allocate_to_players li.you input").val() + " euros, Company A gets" + $("#allocate_to_player_A input").val() + " euros" +', and Company B gets' + $("#allocate_to_player_B input").val() + " euros"}
                    }



                $("#offer-desc").text(desc);
            }

            $("button#show-confirm").click(function (evt) {
                evt.preventDefault();

                var coalition = $('input[name="proposed_coalition"]:checked').val();


                if (form.checkValidity()) {


                    var valid = false;

                    if ((coalition == 'AB' && $("#allocate_to_player_C input").val() > 0) ||
                        (coalition == 'AC' && $("#allocate_to_player_B input").val() > 0) ||
                        (coalition == 'BC' && $("#allocate_to_player_A input").val() > 0)) {
                            valid = false;
                            $coalitionAlert.show("fast");

                        } else {
                            valid = true;
                                    }

                if ((coalition == 'AB' && ($("#allocate_to_player_A input").val() == "" || $("#allocate_to_player_B input").val() == ""))||
                    (coalition == 'AC' && ($("#allocate_to_player_A input").val() == "" || $("#allocate_to_player_C input").val() == "" ))||
                    (coalition == 'BC' && ($("#allocate_to_player_B input").val() == "" || $("#allocate_to_player_C input").val() == "" ))||
                    (coalition == 'ABC' && ($("#allocate_to_player_A input").val() == "" || $("#allocate_to_player_B input").val() == ""  || $("#allocate_to_player_C input").val() == ""))){
                        valid = false;
                        $emptyfieldAlert.show("fast");

                } else {
                        valid = true;
                }


                var total = totalOffered();

                if (total == {{total_payoff}} && valid == true) {
                    fillConfirm();
                    $confirmation.prop("disabled", false);
                    $bargain.hide();
                    $totalAlert.hide();
                    $coalitionAlert.hide();
                    $confirm.show();
                }
                else {
                    if (total != {{total_payoff}}) {
                        $("#total-offers").text(total);
                        $totalAlert.show("fast");
                    }
                    else {
                        $totalAlert.hide();
                    }
                }


            }    else {
            form.reportValidity();
                }
                return false;
    });




            $("button#real-submit").click(function (evt) {
                evt.preventDefault();
                if (form.checkValidity()) {
                    $confirmation.prop("disabled", true);
                    var next = ($("input[name=confirmation]:checked").val() == "yes");
                    if (next) {
                        form.submit();
                    } else {
                        $confirm.hide();
                        $totalAlert.hide();
                        $bargain.show();
                    }
                } else {
                    form.reportValidity();
                }
                return false;
            });

            $("input[name$='proposed_coalition']").click(function () {
                var selected_coalition = $(this).val();



                if (selected_coalition == "AB") {
                    allocate_A.show();
                    allocate_B.show();
                    allocate_C.hide();
                    text.show();
                } else if (selected_coalition == "AC") {
                    allocate_A.show();
                    allocate_B.hide();
                    allocate_C.show();
                    text.show();
                } else if (selected_coalition == "BC") {
                    allocate_A.hide();
                    allocate_B.show();
                    allocate_C.show();
                    text.show();
                } else if (selected_coalition == "ABC") {
                    allocate_A.show();
                    allocate_B.show();
                    allocate_C.show();
                    text.show();
                }
            });

        })
    </script>
{{ endblock }}

